[Desktop Entry]
Type=Application
Name=Moj Program
Exec=usr/bin/moj_program
Icon=usr/share/icons/hicolor/256x256/apps/moj_program
Comment=Opis mojego programu
Categories=Utility;
Terminal=false
