[Desktop Entry]
Type=Application
Name=Mex Assistant
Exec=usr/bin/mex-assistant
Icon=mex-assistant
Comment=Opis mojego programu
Categories=Utility;
Terminal=false
