numpy~=2.0.0rc2
ffmpeg-python~=0.2.0
sounddevice~=0.4.6
soundfile~=0.12.1
requests~=2.32.2
translators~=5.9.2
gTTS~=2.5.1
pytube~=15.0.0
future~=1.0.0
pydub~=0.25.1
speechrecognition ~= 3.10.4
PyQt5~=5.15.10
mexui~=1.0.2
qt-material~=2.14