[Desktop Entry]
Type=Application
Name=Mex Assistant
Exec=~/mex-assistant
Icon=mex-assistant
Comment=Prosty asystent głosowy stworzony przy użyciu Pythona i Qt5
Categories=Utility;
Terminal=false
