Package: mex-ssistant
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: python3
Maintainer: janinainfa <janinainfa@gmail.com>
Description: Prosty asystent głosowy stworzony przy użyciu Pythona i Qt5.

